input {
    display: none;
}

label {
    background-color: rgb(255, 206, 206);
    display: block;
}

span {
    display: none;
}

input:checked + span {
    display: inline-block;
    background-color: rgb(223, 223, 253);
}
@media screen and (min-width: 720px) {
    body {
        margin-left: 5em;
        margin-right: 5em;
    }
}

.br {
    display: block;
    height: 2em;
}
theorem {
    display: block;
}
proof {
    margin-left: 5em;
    display: block;
}
