
main.blog-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 1200px) {
    main.blog-content {
        max-width: 1200px;
        /* Slightly larger for big screens */
    }

    body {
        max-width: 1200px;
    }
}

ul {
    margin-left: 2em;
}

details {
    margin: 1em;
}